.list-item-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 7px 0 7px 0;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.list-item-container:hover {
  background-color: #f3f3f3;
}

.list-item-container:hover .list-item-remove-icon {
  display: block;
}

.list-item-info {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list-item-info > div > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.square-button-point-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
}

.list-item-point-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-vote-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.list-item-remove-icon {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
}

a {
  color: rgba(0, 0, 0, 0.65);
}

a:hover {
  color: black;
}
